KITE_ACC_1_ID=YX1556
KITE_ACC_1_NAME=Chandan
KITE_ACC_1_KEY=rew41o8fanxflqlr
KITE_ACC_1_SECRET=rehetkh8ktdiq98s4ew6gjywxx7r9hap

KITE_ACC_2_ID=CV715
KITE_ACC_2_NAME=Father
KITE_ACC_2_KEY=pepd05heg4i2hoz3
KITE_ACC_2_SECRET=25dbz3thu2wtgus278hy3aq4jmuf9hjc

KITE_ACC_3_ID=ON2123
KITE_ACC_3_NAME=Pranju
KITE_ACC_3_KEY=qxe7uxtd8z0ho0fj
KITE_ACC_3_SECRET=1ws6m7mjdba0c7zmpmud5fezl0sjz1d4


RESEND_API_KEY=re_eCAobfvY_FRgMmGcziucfiXqdPMWozKg5
